/*=========================FOOTER================================*/

footer {
    
    
    background-color: $clr-4;
    min-height: 100px;
    

    p {
        color: $clr-1;
        text-align: center;
    }
}


#iconos {
    i {
        font-size: 26px;
        padding: 0 8px;
        color: $clr-1;

    }

}