/*=========================FOOTER================================*/

footer {
    background-color: $clr-bg-header;
    min-height: 100px;

    p {
        color: $clr-white;
        text-align: center;
    }
}


#iconos {
    i {
        font-size: 26px;
        padding: 0 8px;
        color: $clr-white;

    }

}