/*=========================NAVBAR================================*/
.menu {
    li {
        .nav-link {
            display: flex;
            color: $clr-white;
            text-decoration: none;
            padding: 0px 20px;
            text-align: center;
            &:hover{
                background-color: $clr-trans;
                color: $clr-white;
                transition: ease-in .2s;
                
            }
        }
    }
}

.title-span {
    color: $clr-tertiary;
}

.bg-navbar {
    background-color: $clr-bg-header;
    background-image: $clr-primary;

}

.d-flex-navbar {
    display: flex;
    justify-content: center;

}