/*=========================NAVBAR================================*/
.menu {
    li {
        .navLink {
            display: flex;
            color: $clr-1;
            text-decoration: none;
            padding: 0px 20px;
            text-align: center;
            &:hover{
                background-color: $clr-3;
                color: $clr-4;
                transition: ease-in .2s;
                
            }
        }
    }
}

.title-span {
    color: $clr-1;
}

.bg-navbar {
    background-color: $clr-4;
    background-image: $clr-1;

}

.d-flex-navbar {
    display: flex;
    justify-content: center;

}