body {
    font-family: 'Bungee', cursive;
    overflow-x: hidden;
    background-color: #DFDBE5;
    background-color: #dac5fb;
    background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%23b596e8' fill-opacity='0.4' fill-rule='evenodd'%3E%3Ccircle cx='3' cy='3' r='3'/%3E%3Ccircle cx='13' cy='13' r='3'/%3E%3C/g%3E%3C/svg%3E");
}

/*=========================QUIENES SOMOS================================*/
.quienes-somos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 90%;
    margin: auto;

}


/*=========================SLIDER================================*/
.especialidades {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
    margin: auto;

    .carouser-inner {
        max-height: 39rem;
    }
}


/*=========================UBICACION================================*/
.ubicacion {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
    margin: auto auto 30px auto;
    iframe{
        width: 100%;
    }

    h2 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

    }



}