/* Color Theme Swatches in Hex */
$clr-white: #ffffff;
$clr-black: #283040;
$clr-yellow: #f2b705;
$clr-bg: #000000;
$clr-bg-header: #8b64b8;
$clr-primary: #9274e5;
$clr-secondary: #775032;
$clr-tertiary: #5900b9;
$clr-trans: #ffffff83;

/* FONTS */
@import url("https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Poppins:wght@400;500;700&display=swap");

$ff-poppins: "Poppins", sans-serif;
$ff-alfa: "Alfa Slab One", cursive;

/* Borders */
$borderRadius: 0.25rem;