/* Color Theme Swatches in Hex */
$clr-white: #fff;
$clr-black: #283040;
$clr-yellow: #f2b705;
$clr-bg: #ffb9ea;
$clr-primary: #e997fb;
$clr-secondary: #775032;
$clr-trans: #8754ca83;

/* FONTS */
@import url("https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Poppins:wght@400;500;700&display=swap");

$ff-poppins: "Poppins", sans-serif;
$ff-alfa: "Alfa Slab One", cursive;

/* Borders */
$borderRadius: 0.25rem;